services:
  mqtt5:
    image: eclipse-mosquitto
    container_name: mqtt5
    ports:
      - "1883:1883"
    volumes:
      - ./mqtt/mosquitto/config:/mosquitto/config:rw
      - ./mqtt/mosquitto/data:/mosquitto/data:rw
      - ./mqtt/mosquitto/log:/mosquitto/log:rw
    restart: unless-stopped

  telemetry-to-messaging-backend:
    build: ./telemetry-to-messaging-backend
    container_name: telemetry-to-messaging-backend
    environment:
      - MQTT_BROKER_HOST=192.168.248.130
      - MQTT_BROKER_PORT=1883
      - MQTT_BADGE_TOPIC=sensor/data
      - MQTT_DOOR_TOPIC=door/open
    ports:
      - "8085:8085"
