services:
  redis:
    image: redis:8
    container_name: redis-cache
    ports:
      - "6379:6379"
    volumes:
      - data:/data
    networks:
      - paas-network

volumes:
  data:

networks:
  paas-network:
    external: true