name: Build & Deploy Database Stack

on:
  push:
    branches:
      - dev
      - photo-badging
      - watchdog

jobs:
  build-and-deploy:
    runs-on: self-hosted

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set IMAGE_TAG from commit
        run: |
          echo "IMAGE_TAG=${GITHUB_SHA::7}" >> $GITHUB_ENV

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Log in to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build and push images
        run: |
          docker build -t smailliwdocker/cache-loading-backend:$IMAGE_TAG ./cache-loading-backend
          docker push smailliwdocker/cache-loading-backend:$IMAGE_TAG

          docker build -t smailliwdocker/core-operational-backend:$IMAGE_TAG ./core-operational-backend
          docker push smailliwdocker/core-operational-backend:$IMAGE_TAG

          docker build -t smailliwdocker/entrance-cockpit-backend:$IMAGE_TAG ./entrance-cockpit-backend
          docker push smailliwdocker/entrance-cockpit-backend:$IMAGE_TAG

          docker build --build-arg VITE_WS_URL="wss://172.31.249.144/entrance/ws" \
            -t smailliwdocker/static-server-backend:$IMAGE_TAG ./static-server-backend
          docker push smailliwdocker/static-server-backend:$IMAGE_TAG

          docker build -t smailliwdocker/telemetry-to-messaging-backend:$IMAGE_TAG ./telemetry-to-messaging-backend
          docker push smailliwdocker/telemetry-to-messaging-backend:$IMAGE_TAG

          docker build -t smailliwdocker/photo-storage-service:$IMAGE_TAG ./photo-storage-service
          docker push smailliwdocker/photo-storage-service:$IMAGE_TAG

          docker build -t smailliwdocker/badge-sensor-mock:$IMAGE_TAG ./badge-sensor-mock
          docker push smailliwdocker/badge-sensor-mock:$IMAGE_TAG

          docker build -t smailliwdocker/entrance-door-lock:$IMAGE_TAG ./entrance-door-lock
          docker push smailliwdocker/entrance-door-lock:$IMAGE_TAG

          docker build -t smailliwdocker/back-one:$IMAGE_TAG ./back-one
          docker push smailliwdocker/back-one:$IMAGE_TAG

          docker build -t smailliwdocker/watchdog:$IMAGE_TAG ./watchdog
          docker push smailliwdocker/watchdog:$IMAGE_TAG

      - name: Deploy stack to Swarm
        run: |
          docker stack deploy \
            --with-registry-auth \
            -c docker-stack.yml \
            jwick_stack
