name: Build & Deploy Database Stack

on:
  push:
    branches:
      - docker-swarm

jobs:
  build-and-deploy:
    runs-on: self-hosted

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Log in to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build and push cache-loading-backend image
        run: |
          docker build -t smailliwdocker/cache-loading-backend:latest ./cache-loading-backend
          docker push smailliwdocker/cache-loading-backend:latest

      - name: Build and push core-operational-backend image
        run: |
          docker build -t smailliwdocker/core-operational-backend:latest ./core-operational-backend
          docker push smailliwdocker/core-operational-backend:latest

      - name: Build and push entrance-cockpit-backend image
        run: |
          docker build -t smailliwdocker/entrance-cockpit-backend:latest ./entrance-cockpit-backend
          docker push smailliwdocker/entrance-cockpit-backend:latest

      - name: Build and push static-server-backend image
        run: |
          docker build --build-arg VITE_WS_URL="wss://172.31.249.144/entrance/ws" -t smailliwdocker/static-server-backend:latest ./static-server-backend
          docker push smailliwdocker/static-server-backend:latest

      - name: Build and push telemetry-to-messaging-backend image
        run: |
          docker build -t smailliwdocker/telemetry-to-messaging-backend:latest ./telemetry-to-messaging-backend
          docker push smailliwdocker/telemetry-to-messaging-backend:latest


      - name: Deploy stack to Swarm
        run: |
          docker stack deploy -c docker-stack.yml jwick_stack