name: Setup secrets

on:
  workflow_dispatch:
  #push:
  #  branches:
  #    - docker-swarm

jobs:
  prepare-secrets:
    runs-on: self-hosted
    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Create Docker configs and secrets for reverse-proxy
        run: |
          docker config create nginx_conf_v1 ./nginx.conf || echo "Config already exists"
          docker secret create nginx_cert_v1 ./ssl/reverse-proxy.crt || echo "Secret already exists"
          docker secret create nginx_key_v1 ./ssl/reverse-proxy.key || echo "Secret already exists"
        working-directory: reverse-proxy

      - name: Create Docker configs and secrets for mqtt
        run: |
          docker config create mosquitto_conf_v1 ./mosquitto/config/mosquitto.conf || echo "Config already exists"
        working-directory: mqtt